.con{
    background: #f5f5f5;
}
.chooseInfo{
    background: rgba(255, 255, 255, 1);
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 30px 40px;
}
.chooseInfo .col-md-2 img{
    margin-top: 40px;

}
.chooseInfo .col-md-9{
    margin-left: 40px;
}
<<<<<<< HEAD

.chooseRight .boxTop div,.chooseRight .boxBottom div{
    width:320px;
    height:220px;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 13px 0px rgba(207,21,24,0.3);
    margin-left: 44px;
}
.chooseRight .boxTop .col-md-6 button,.chooseRight .boxBottom .col-md-6 button,.chooseLeft button{
    line-height: 220px;font-size:20px; color:rgba(51,51,51,1);display: inline-block;width: 100%;height: 100%;
}
.chooseLeft button{
    line-height: 489px;
=======
.chooseInfo .col-md-9 p{
    font-size: 20px;
    line-height: 36px;
    color: #616161;
}
.chooseInfo .col-md-9 p:nth-child(1){
    font-size: 24px;
    color: #333;
}
.col-333{
    color: #333;
}
.col-666{
    color: #666;
>>>>>>> 07778bdf68211963bda9b122d60f29db97773a79
}
.col-red{
    color: #ff6700;
}

.chooseBox {
    background: rgba(255, 255, 255, 1);
    height: 400px;
    margin-bottom: 200px;
    padding: 30px 48px;
}

.chooseBox p {
    font-size: 18px;
    color: rgba(102, 102, 102, 1);
    margin-top: 22px;
    margin-left: 27px;
}
.chooseBox p:first-of-type{
    height: 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
    font-size:28px;
}
.chooseBox p:last-of-type {
    font-size: 18px;
    font-weight: bold;
    color: rgba(102, 102, 102, 1);
}
.chooseBox div {
    margin-left: 84px;
    display: inline-block;
}

.chooseBox div button {
    background: #fff;
    border: 0;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 20px;
}

























