@media screen and (max-width:768px){
	html{
		font-size: 10px;
	}
}
@media screen and (min-width:768px) and (max-width:992px){
	html{
		font-size: 20px;
	}
}
@media screen and (min-width:992px) and (max-width:1200px){
	html{
		font-size: 25px;
	}
}
a{
	text-decoration: none;
}
.head-left p {
	width: 100%;
	height: 6px;
	background: rgba(32, 71, 146, 1);
	border-radius: 3px;
	margin-bottom: 6px;
	min-width: 31px;

}

.title-p {
	font-weight: bold;
	color: #333333;
	text-align: center;
	font-size: 12px;
	margin-top: 22.5px;

}

.line {
	margin-bottom: 10px;
}

.line .line-top {
	display: block;
	width: 100px;
	height: 2px;
	background: #092980;
	margin: 0 auto;
}

.line .line-btm {
	display: block;
	width: 200px;
	height: 1px;
	background: #F1F1F1;
	margin: 0 auto;
}

.footer .row ul li {
	border-bottom: 2px solid rgba(159, 159, 159, 1);
	height: 40px;
}

.footer .row ul li a {
	text-decoration: none;
	font-size: 18px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	line-height: 40px;
}