.payBox {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 48px 9px rgba(239, 239, 239, 1);
    margin-top: 40px;
    margin-bottom: 20px;
}

.payBox p {
    margin: 0;
}

.payBox .payRight .payTitle {
    margin-top:100px;
    font-size: 24px;
    color: rgba(51, 51, 51, 1);
    font-weight: bold;
}

.payBox .payRight .payPrice span:first-of-type {
    font-size: 20px;
    color: rgba(153, 153, 153, 1);
    line-height: 40px;
}

.payRight .goods_num .num_name {
    font-size: 20px;
    color: rgba(153, 153, 153, 1);
    line-height: 40px;
}

.payRight .goods_num .num_add {
    margin-top: 8px;
}

.payRight .goods_num .num_add .minus {
    border: 1px solid #999;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    left: 11px;
    top: 0;
    width: 40px;
    color: rgba(153, 153, 153, 1);
}

.payRight .goods_num .num_add .num_show {
    margin-left: 50px;
    height: 25px;
    width: 42px;
}

.payRight .goods_num .num_add .add {
    border: 1px solid #999;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    right: -39px;
    top: 0;
    width: 40px;
    color: rgba(153, 153, 153, 1);
}

.payBox .payRight .payInfo span:first-of-type {
    font-size: 20px;
    color: rgba(153, 153, 153, 1);
    line-height: 40px;
}


.payBox .payRight .payNum span {
    font-size: 20px;
    color: rgba(153, 153, 153, 1);
    line-height: 40px;
}

.payBox .payRight .payNum input {
    padding: 3px 5px;
    width: 209px;
    height: 27px;
    border: 1px solid rgba(218, 218, 218, 1);
}

::-webkit-input-placeholder {
    color: rgba(205, 205, 205, 1);
    font-size: 16px;
}
.payBox .payRight .payNum input:focus{
    border:1px solid rgba(34,81,133,1);
}
.payBox .payRight .payPostage span:first-of-type {
    font-size: 20px;
    color: rgba(153, 153, 153, 1);
    line-height: 40px;
}

.payBox .payRight .totalPrice span:first-of-type {
    font-size: 20px;
    color: rgba(153, 153, 153, 1);
    line-height: 40px;
}


.payBox .payRight .payMode {
    width:170px;
    height:38px;
    background:rgba(207,21,24,1);
    box-shadow:0px 0px 13px 0px rgba(207,21,24,0.3);
    border-radius:5px;
    border: 0;
    text-align: center;
    margin-top: 25px;
}
.payBox .payRight .payMode a{
    width: 170px;
    font-size:20px;
    color:rgba(255,255,255,1);
    display: inline-block;
}
/*红色字体*/
.redInfo{
    font-size: 20px;
    color: rgba(207, 21, 24, 1);
    line-height: 40px;
}
/*红色字体*/

/*灰色字体*/
.geryInfo{
    font-size: 20px;
    color: rgba(153, 153, 153, 1);
    line-height: 40px;
}
/*灰色字体*/

