.boxLeft{
    box-shadow:0px 3px 48px 9px rgba(239,239,239,1);
}
.boxLeft img{
    margin-top: 100px;margin-bottom: 100px;
}
.boxLeft .goods_num input{
    width: 80px;
}
.boxRight{
    margin-top: 160px;
}
.boxRight .title{
    font-size:24px;
    color:rgba(51,51,51,1);
    font-weight:500;
}
.boxRight  .spantitle{
    color:rgba(153,153,153,1);
    font-size:20px;
    line-height:40px;
    font-weight: 400;
}
.boxRight  .spanprice{
    color:rgba(207,21,24,1);
    line-height:40px;
    font-size:28px;
}
.boxRight .goods_num .num_add{
    margin-top: 5px;
}
.boxRight .recommend{
    height: 80px;
}
.boxRight .recommend .cur-p{
    margin-left: 5px;
    margin-top: 5px;
}
.boxRight .recommend .cur-p a{
    padding: 2px;
    font-size:18px;
    color:rgba(102,102,102,1);
}
.boxRight .Order{
    width:170px;
    height:34px;
    background:rgba(207,21,24,1);
    border-radius:5px;
    color: #fff;
    border: 0;
}
.boxRight .now{
    width:170px;
    height:34px;
    background:rgba(91,209,161,1);
    border-radius:5px;
    color: #fff;
    border: 0;
}