
.form-horizontal label {
    /* text-align: left; */
    font-size: 1.2rem;
    color: #3c3c3c;
    line-height: 41px;
    padding-right: 0px;

}

.form-horizontal .col-xs-9,.col-xs-8 {
    padding-left: 0;
}

.form-horizontal input {
    font-size: 1.2rem;
    color: #3c3c3c;
    height: 41px;
    border: 0;


}
.form-horizontal .form-group {
    border-bottom: 1px solid #F1F1F1;
}

.form-horizontal .form-group .form-control {
    outline: none;
    box-shadow: inset 0 1px 1px #fff;
}


.register_submit{
    font-size: 16px;
    background:rgba(53,146,208,1);
    padding: 6px 0;
}

.register_submit a{
    color: #FFFFFF;text-decoration: none;
   
}