/*头部返回栏*/
.return div:first-of-type a{
    color:rgba(51,51,51,1);
    font-size:1.5rem;
}
.return div:first-of-type a{
    line-height:60px;
}
.return div:last-of-type{
    font-size: 2rem;
}
.return div:last-of-type span{
    line-height:60px;color:#333333;
}

.info {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 18px 0px rgba(222, 222, 222, 1);
    border-radius: 20px;
}

.Personal_info {
    margin-top: 20px;
    height: 50px;
}

.Personal_info .default {
    background: rgba(222, 40, 40, 1);
    border-radius: 5px;
    font-size: 1rem;
    line-height: 50px;
    padding: 0.1rem 0.8rem;
    color: #fff;
}

.Personal_info .username {
    margin-left: 1rem;
    font-size: 1.8rem;
    color: #333333;
    line-height: 50px;
}

.Personal_info .phone {
    margin-left: 0.8rem;
    color: #666666;
    font-size: 1rem;
    line-height: 50px;
}

.address {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.address .col-xs-6 {
    font-size: 1rem;
    color: #666666;
}

.address i {
    font-size: 0.8rem;
    color: #666666;
}

.info_two {
    padding-top: 2rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 18px 0px rgba(222, 222, 222, 1);
    border-radius: 20px;
}

.product_img {
    border: 1px solid #F1F1F1;
}

.product_img img {
    padding: 10px 0;
}

.product_title {
    font-size: 1.5rem;
    color: #333333;
}

.product_Introduction {
    font-size: 1.2rem;
    color: #666666;
    width: 80%;
}

.product_price span:first-of-type {
    color: rgba(207, 21, 24, 1);
    font-size: 1.5rem;
}

.product_price span:nth-child(2) {
    color: rgba(153, 153, 153, 1);
    font-size: 1rem;
    text-decoration: line-through;
}

.product_price span:nth-child(3) {
    color: rgba(153, 153, 153, 1);
    font-size: 1rem;
    margin-left: 40px;
}

.product_price span:last-of-type {
    color: rgba(153, 153, 153, 1);
    font-size: 1rem;
}

.board p:last-of-type input{
    margin-left: 0.5rem;
    border: 0;
    font-size: 1rem;
    width: 192px;
    overflow: hidden;
}


.board p:first-of-type span{
    font-size: 1.4rem;
    color: #333333;
    border-top: 1px solid #F1F1F1;
    padding: 1rem 0;
}

.board p:last-of-type {
    padding: 1rem 0 2rem 0;
    font-size: 1.4rem;
    color: #333333;
    border-top: 1px solid #F1F1F1;
}

.pay .row {
    padding: 1rem 0;
    border-bottom: 1px solid #F1F1F1;
}

.pay span {
    color: #333333;
    font-size: 1.4rem;
    line-height: 1.4rem;
}
.pay div:nth-child(1) span{
    line-height: 2rem;
}
.pay div:nth-child(1) .gw_num{
    height: 2rem;

}
.gw_num {
    border: 1px solid #dbdbdb;
    width: 11rem;
    line-height: 2rem;
    overflow: hidden;
    display: inline-block;
}

.gw_num em {
    display: block;
    height: 2rem;
    width: 2.6rem;
    float: left;
    color: #7A7979;
    border-right: 1px solid #dbdbdb;
    text-align: center;
    cursor: pointer;
}

.gw_num .num {
    display: block;
    float: left;
    text-align: center;
    width: 5.2rem;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 2rem;
    border: 0;
}

.gw_num em.add {
    float: right;
    border-right: 0;
    border-left: 1px solid #dbdbdb;
}

.pay div:nth-child(2) span:last-of-type{
    color:rgba(207,21,24,1);

}
.pay div:nth-child(3) input{
    border: 0;
    width: 8.3rem;
    font-size: 1.4rem;
}
.pay div:nth-child(4) span:last-of-type{
    color:rgba(207,21,24,1);
}
.buy button:first-of-type {
    margin-right: 1rem;
    height: 2.5rem;
    background: rgba(207, 21, 24, 1);
    border-radius: 5px;
    color: #fff;
    border: 0;
}

.buy button:first-of-type a {
    font-size: 1.5rem;
    color: #fff;
    padding: 0.5rem 1.8rem;
    text-decoration: none;
}

.buy button:last-of-type {
    margin-right: 2rem;
    height: 2.5rem;
    background: rgba(91, 209, 161, 1);
    border-radius: 5px;
    color: #fff;
    border: 0;
}

.buy button:last-of-type a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    padding: 0.5rem 1.8rem;
}