
.payImg img{
    margin-bottom: 1rem;
    margin-top: 2rem;
    width: 12rem;
    height: 12rem;
}
.payInfo p{
    margin: 0.5rem 0;
}
.payInfo p:nth-child(1){
    font-size:1.6rem;color:#1E983D;font-weight:bold;
}
.payInfo p:nth-child(2){
    font-size:1.4rem;color:#616161;
}
.payInfo p:nth-child(2) span{
    color:#CF1518;
}
.payInfo p:nth-child(3){
    font-size:1.4rem;color:#616161;font-weight:bold;
}
.payInfo p:nth-child(4){
    font-size:1.4rem;color:#616161;font-weight:bold;margin-bottom: 20px;
}

.payMethod{
    margin-bottom: 100px;
}

.payMethod .btnShop{
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
}
.payMethod div:nth-child(1) p{
    padding: 1rem 0px;
    height: 50px;
    font-size: 2rem;
}