.bg{
    margin-bottom: 13.5px;
}
.title {
    font-size: 18px;
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 20px;
}
.top_news{
    padding-bottom: 10px;
    border-bottom: 1px solid #ECECEC;
}
.top_news .title span:first-of-type {
    line-height: 24px;
    font-size: 1.5rem;
    display: inline-block;
    color: black;
}

.titleTopping {
    color: rgba(51, 51, 51, 1);
    font-size: 13px;
    line-height: 2rem;
    margin-bottom: 10px;
}

.new_con {
    color: #666666;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.new_span span {
    font-size: 1rem;
    color: #999999;
    line-height: 2rem;
}

.timeOrdinary {
    padding: 0;

    text-align: left;
}

.timeOrdinary span {
    background: linear-gradient(0deg, rgba(44, 106, 206, 1) 0%, rgba(47, 232, 230, 1) 100%);
    box-shadow: 0px 1px 5px 0px rgba(53, 143, 238, 1);
    font-size: 10px;
}
.titleOrdinary {
    font-size: 10px;
    color: #333333;
    overflow: hidden;
}

.new_time {
    padding: 3px;
}

.more {
    font-size: 1rem;
    color: #666666;
    margin-top: 0.2rem;
}